# Configuración de la base de datos PostgreSQL para el servidor de Optica
DB_HOST=192.168.1.73
DB_USER=admin_dioptrios
DB_PASSWORD=dioptrios12
DB_NAME=dioptrios
DB_PORT=5432
PORT=4000
GMAIL_USER=tu_correo@gmail.com
GMAIL_APP_PASSWORD=tu_app_password_de_google
