# Configuración de la base de datos PostgreSQL para el servidor de Optica
DB_HOST=192.168.1.73
DB_USER=admin_dioptrios
DB_PASSWORD=dioptrios12
DB_NAME=dioptrios
DB_PORT=5432
PORT=4000
GMAIL_USER=tu_correo@gmail.com
GMAIL_APP_PASSWORD=tu_app_password_de_google

# Mercado Pago - Credenciales de Prueba
VITE_MERCADOPAGO_PUBLIC_KEY=tu_public_key
MERCADOPAGO_PUBLIC_KEY=tu_public_key
MERCADOPAGO_ACCESS_TOKEN=tu_access_token

# Cuentas de prueba Mercado Pago
MERCADOPAGO_TEST_SELLER_USER=tu_usuario_vendedor_prueba
MERCADOPAGO_TEST_SELLER_PASS=tu_password_vendedor_prueba
MERCADOPAGO_TEST_BUYER_USER=tu_usuario_comprador_prueba
MERCADOPAGO_TEST_BUYER_PASS=tu_password_comprador_prueba

# Cloudflare R2
R2_ENDPOINT=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=
R2_PUBLIC_URL=
